:root {
  --corn: rgba(234, 179, 8, 1);
  --river-bed: rgba(75, 85, 99, 1);
  --inter-black-font-family: "Inter", Helvetica;
  --inter-black-font-weight: 900;
  --inter-black-font-size: 48px;
  --inter-black-letter-spacing: -1.5839999914169312px;
  --inter-black-line-height: 60px;
  --inter-black-font-style: normal;
  --inter-bold-font-family: "Inter", Helvetica;
  --inter-bold-font-weight: 700;
  --inter-bold-font-size: 16px;
  --inter-bold-letter-spacing: 0px;
  --inter-bold-line-height: 20px;
  --inter-bold-font-style: normal;
  --inter-medium-font-family: "Inter", Helvetica;
  --inter-medium-font-weight: 500;
  --inter-medium-font-size: 14px;
  --inter-medium-letter-spacing: 0px;
  --inter-medium-line-height: 20px;
  --inter-medium-font-style: normal;
  --inter-regular-font-family: "Inter", Helvetica;
  --inter-regular-font-weight: 400;
  --inter-regular-font-size: 14px;
  --inter-regular-letter-spacing: 0px;
  --inter-regular-line-height: 20px;
  --inter-regular-font-style: normal;
  --inter-semi-bold-font-family: "Inter", Helvetica;
  --inter-semi-bold-font-weight: 600;
  --inter-semi-bold-font-size: 18px;
  --inter-semi-bold-letter-spacing: 0px;
  --inter-semi-bold-line-height: 28px;
  --inter-semi-bold-font-style: normal;
  --semantic-heading-1-font-family: "Inter", Helvetica;
  --semantic-heading-1-font-weight: 700;
  --semantic-heading-1-font-size: 32px;
  --semantic-heading-1-letter-spacing: 0px;
  --semantic-heading-1-line-height: 40px;
  --semantic-heading-1-font-style: normal;
  --semantic-input-font-family: "Inter", Helvetica;
  --semantic-input-font-weight: 400;
  --semantic-input-font-size: 14px;
  --semantic-input-letter-spacing: 0px;
  --semantic-input-line-height: normal;
  --semantic-input-font-style: normal;
  --semantic-button-font-family: "Inter", Helvetica;
  --semantic-button-font-weight: 700;
  --semantic-button-font-size: 18px;
  --semantic-button-letter-spacing: 0.27000001072883606px;
  --semantic-button-line-height: 27px;
  --semantic-button-font-style: normal;
  --semantic-heading-2-font-family: "Inter", Helvetica;
  --semantic-heading-2-font-weight: 700;
  --semantic-heading-2-font-size: 18px;
  --semantic-heading-2-letter-spacing: -0.27000001072883606px;
  --semantic-heading-2-line-height: 22.5px;
  --semantic-heading-2-font-style: normal;
  --semantic-heading-3-font-family: "Inter", Helvetica;
  --semantic-heading-3-font-weight: 700;
  --semantic-heading-3-font-size: 14px;
  --semantic-heading-3-letter-spacing: 0px;
  --semantic-heading-3-line-height: 20px;
  --semantic-heading-3-font-style: normal;
  --semantic-blockquote-font-family: "Inter", Helvetica;
  --semantic-blockquote-font-weight: 400;
  --semantic-blockquote-font-size: 16px;
  --semantic-blockquote-letter-spacing: 0px;
  --semantic-blockquote-line-height: 24px;
  --semantic-blockquote-font-style: italic;
  --semantic-link-font-family: "Inter", Helvetica;
  --semantic-link-font-weight: 500;
  --semantic-link-font-size: 14px;
  --semantic-link-letter-spacing: 0px;
  --semantic-link-line-height: 21px;
  --semantic-link-font-style: normal;
  --semantic-link-underline-font-family: "Inter", Helvetica;
  --semantic-link-underline-font-weight: 500;
  --semantic-link-underline-font-size: 14px;
  --semantic-link-underline-letter-spacing: 0px;
  --semantic-link-underline-line-height: 20px;
  --semantic-link-underline-font-style: normal;
}
